<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <head th:fragment="head(title)">
        <meta charset="UTF-8" />
        <title th:text = "${title}"> title </title>
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"/>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    </head>
    <body class="font-weight-light">
        <header th:fragment="header">
            <nav class="navbar navbar-expand-md navbar-dark bg-primary">
                <div th:if="${loggedUser == 'anonymousUser'} or not ${loggedUser}" >
                    <a class="navbar-brand abs" href="/">NasuKirja2.0</a>
                </div>
                <div th:unless="${loggedUser == 'anonymousUser'} or not ${loggedUser}" >
                    <a class="navbar-brand abs" th:href="@{'/kayttajat/' + ${loggedUser}}">NasuKirja2.0</a>
                </div>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
                        <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="collapsibleNavbar">
                    
                <form th:unless="${loggedUser == 'anonymousUser'} or not ${loggedUser}" th:action="@{/kayttajat}"  method="GET" class="form-inline ml-auto">                    
                    <input name="findname" class="form-control mr-sm-2" type="search" placeholder="Haku"/>                                      
                </form>
                    
                <ul class="navbar-nav ml-auto">               
                    <li th:if="${loggedUser == 'anonymousUser'} or not ${loggedUser}" class="nav-item">
                        <a class="nav-link" th:href="@{/accounts}">Liity NasuKirjaan</a>
                    </li>                                       
                    <li th:if="${loggedUser == 'anonymousUser'} or not ${loggedUser}" class="nav-item">
                        <a class="nav-link" th:href="@{/login}">Kirjoittaudu sisään</a>
                    </li>
                   <li th:unless="${loggedUser == 'anonymousUser'} or not ${loggedUser}" class="nav-item">
                        <a class="nav-link" th:href="@{/logout}" th:text = "'Kirjoittaudu ulos (' +${loggedUser} +')'" >Kirjoittaudu ulos</a>
                    </li>
                </ul>
                </div>
            </nav>
        </header>
        
        <section th:fragment="pageText(pageText)" class="container">
                <p> </p>           
                <h3 th:text = "${pageText}" >Tervetuloa NasuKirjaan!</h3>
                <p> </p>
        </section>


    </body>
</html>