<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <head th:fragment="head(title)">
        <meta charset="UTF-8" />
        <title th:text = "${title}"> title </title>
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"/>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    </head>
    <body>
        <header th:fragment="header">
            <nav class="navbar navbar-expand-sm bg-light navbar-light">
                <a class="navbar-brand" href="/">NasuKirja2.0</a>
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                <div class="collapse navbar-collapse" id="collapsibleNavbar">
                <ul class="navbar-nav">
                    
                    <li class="nav-item">
                        <a class="nav-link" th:href="@{/omasivu}">Oma sivu</a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link" th:href="@{/kayttajat}">Kaverit</a>
                    </li>
                    
                    <li class="nav-item">
                        <a class="nav-link" th:href="@{/kayttajat}">Käyttäjät</a>
                    </li>
                    
                    <li class="nav-item">
                        <a class="nav-link" th:href="@{/accounts}">Luo uusi tili</a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link" th:href="@{/login}">Login</a>
                    </li>

                   <li class="nav-item">
                        <a class="nav-link" th:href="@{/logout}">Logout</a>
                    </li>
                </ul>
                </div>
            </nav>
        </header>
        
        <section th:fragment="pageText(pageText)" class="container">
                <p> </p>           
                <h3 th:text = "${pageText}" >Tervetuloa NasuKirjaan!</h3>
                <p> </p>
        </section>


    </body>
</html>