<!DOCTYPE HTML>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <head th:replace="fragments/layout :: head(title='NasuKirja - Uusi Käyttäjä')"> Title </head>
    <body class="font-weight-light">
        <header th:replace="fragments/layout :: header"> <p> menu </p> </header>

        <main>
            <section th:replace="fragments/layout :: pageText(pageText='Luo uusi käyttäjä NasuKirjaan')" class="container">
            </section>

            <section class="container">
                
                <form action="#" th:action="@{/accounts}" th:object="${account}" method="POST">
                    
                    <div class="form-group">
                        <label for="realName">Nimi (Oikea nimesi, jonka perusteella muut käyttäjät voivat etsiä sinua NasuKirjasta. Pituus 4-50 merkkiä): </label>
                        <input type="text" th:field="*{realname}" name="realname" class="form-control" maxlength="50" required />
                        <section th:if="${#fields.hasErrors('realname')}" th:errors="*{realname}" class="text-danger">Virheviesti</section>
                    </div>
                    
                    <div class="form-group">
                        <label for="userName">Käyttäjänimi (Nimi, jolla kirjoittaudut NasuKirjaan. Pituus 4-50 merkkiä): </label>
                        <input type="text" th:field="*{username}" name="username" class="form-control" maxlength="50" required />
                        <section th:if="${#fields.hasErrors('username')}" th:errors="*{username}" class="text-danger">Virheviesti</section>
                        <section th:if="${UserNameError}" th:text="${UserNameError}" class="text-danger">Virheviesti</section>
                    </div>
                    
                    <div class="form-group">
                        <label for="password">Salasana (Vähintään 8 merkkiä): </label>
                        <input type="password" th:field="*{password}" name="password" class="form-control" required maxlength="150" />
                        <section th:if="${#fields.hasErrors('password')}" th:errors="*{password}" class="text-danger">Virheviesti</section>
                    </div>
                    
                    <div class="form-group">
                        <label for="profileName">Profiilinimi (Määrittelee profiilisi uniikin polun NasuKirjassa. Pituus 4-50 merkkiä. Saa sisältää vain pieniä kirjamia (a-z) ja numeroita (0-9) sekä +-_ merkkejä): </label>
                        <input type="text" th:field="*{profilename}" name="profilename" class="form-control" maxlength="50" onkeyup="this.value = this.value.toLowerCase();"/>
                        <section th:if="${#fields.hasErrors('profilename')}" th:errors="*{profilename}" class="text-danger">Virheviesti</section>
                        <section th:if="${ProfileNameError}" th:text="${ProfileNameError}" class="text-danger">Virheviesti</section>
                    </div>
                    
                    <button type="submit" class="btn btn-primary">Lähetä</button>
                    
                </form>
            </section>
        </main>        
        <div th:replace="fragments/layout :: pageFooter">Footer</div>
    </body>
</html>
