<!DOCTYPE HTML>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <head th:replace="fragments/layout :: head(title='NasuKirja - Tervetuloa')"> Title </head>
    <body class="font-weight-light">
        <header th:replace="fragments/layout :: header"> <p> menu </p> </header>
        <main>
            <section th:replace="fragments/layout :: pageText(pageText='Tervetuloa NasuKirjaan!')" class="container">
            </section>
            <section class="container"> 
                Käyttäjiä yhteensä: <span th:text="${numberOfAccounts}"> Users </span>
            </section>
        </main>                
    </body>
</html>

