<!DOCTYPE HTML>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <head th:replace="fragments/layout :: head(title='NasuKirja - ' + ${user.realname})"> Title </head>
    <body>
        <header th:replace="fragments/layout :: header"> <p> menu </p> </header>

        <main>
            <section class="container">
                <p> </p>
                <h2 th:text = ${user.realname}>UserName</h2>
            </section>
            
            <section class="container"> 

            </section>

        </main>        
        
    </body>
</html>
