<!DOCTYPE HTML>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <head th:replace="fragments/layout :: head(title='NasuKirja - ' + ${user.realname})"> Title </head>
    <body class="small">
        <header th:replace="fragments/layout :: header"> <p> menu </p> </header>
        <p></p>        
        <main th:unless="${FindUserError}">
          
            <section class="container-fluid"> 
                <div class="row mx-1">
                    <div class="col-md-3 border rounded" style="background-color: AliceBlue" >
                        <h2 th:text = ${user.realname}>UserName</h2>
                        <img th:if="${HaveProfilePicture}" th:src="@{'/picture/' + ${user.profilePicture.id}}" class="img-fluid mb-1"></img>
                        <section th:unless="${IsAskedForFriend} or ${IsFriend} or ${IsMyPage}">
                            <form th:action="@{'/kayttajat/request/' + ${user.profilename}}"  method="POST">                    
                                <button name="Kaveriksi" type="submit" class="btn btn-primary mt-1">Pyydä kaveriksi</button>                                    
                            </form>                        
                        </section>
                        <div th:if="${IsMyPage}" >
                            <h4 th:if="${!FriendRequests.empty}" class=" mt-2 mb-0">Kaveripyynnöt</h4>
                            <div th:each="user : ${FriendRequests}">
                                <a th:href="@{'/kayttajat/' + ${user.askedby.profilename}}" th:text="${user.askedby.realname}">Kaveri</a> </br>
                                <span th:text="${user.asktime}">aika</span>
                                <span th:text="${user.askdate}">päivä</span>
                                <span class="input-group">
                                    <form th:action="@{'/kayttajat/approve/' + ${user.askedby.profilename}}"  method="POST">                
                                        <button type="submit" value ="Submit" name="submit" class="btn btn-success btn-sm mr-1">Hyväksy</button>                                    
                                    </form>  
                                    <form th:action="@{'/kayttajat/reject/' + ${user.askedby.profilename}}"  method="POST">                                                 
                                        <button type="submit" value ="Reject" name="reject" class="btn btn-danger btn-sm mr-1">Hylkää</button>
                                    </form>
                                </span>
                            </div>
                        </div>

                        <h4 class=" mt-2 mb-0">Kaverit</h4>
                        <div th:each="user : ${Friends}">
                            <a th:href="@{'/kayttajat/' + ${user.askedby.profilename}}" th:text="${user.askedby.realname}">Kaveri</a>
                        </div>
                    </div>      
                    
                    <div class="col-md-5">
                        <h4 class=" mt-2 mb-0">Viestiseinä</h4>
                        <form th:if="${IsMyPage} or ${IsFriend}" th:action="@{'/kayttajat/wall/' + ${user.profilename}}"  method="POST">    
                            <div class="form-group">                          
                                <textarea class="form-control" name="newWallMessage" placeholder="Kirjoita viesti (maksimi 250 merkkiä)" rows="3" maxlength="250"></textarea>  
                                <button type="submit" value ="Submit" name="sendMessage" class="btn btn-success btn-sm mr-1 mt-2 bg-primary">Lähetä viesti seinälle</button>  
                            </div>
                        </form>
                        <div th:each="wall : ${WallMessages}">
                            <div class="mt-2 border rounded " style="background-color: AliceBlue">
                                <a th:href="@{'/kayttajat/' + ${wall.messager.profilename}}"><span th:text="${wall.messager.realname}">kirjailija</span> </a> 
                                <span>kirjoitti</span>
                                <span th:text="${#temporals.format(wall.time, 'dd.MM.yyyy HH:mm')}">aika</span> </br>
                                <span th:text="${wall.message}">Viesti</span> 
                                <div class="input-group mb-1">  
                                    <form th:if="(${IsMyPage} or ${IsFriend}) and not ${wall.hasLiked}" th:action="@{'/kayttajat/wall/like/' + ${wall.id} + '/' + ${user.profilename}}"  method="POST">                                                 
                                        <button  type="submit" value ="LikeWall" name="likewall" class="btn btn-success btn-sm ml-1 bg-primary">Tykkää</button>
                                    </form>
                                    <form>
                                        <button  th:text="${wall.likes} + ' tykkää tästä'" type="submit" class="btn btn-info btn-sm ml-1"> 3 tykkää</button>
                                    </form>
                                </div>
                                <div class="form-group mb-1">     
                                    <form th:if="(${IsMyPage} or ${IsFriend})" th:action="@{'/kayttajat/wall/comment/' + ${wall.id} + '/' + ${user.profilename}}"  method="POST">                                                 
                                        <input type="text" name="newWallComment" class="form-control mb-1" placeholder="Kommentoi (max 250 merkkiä)" maxlength="250"/>
                                    </form>
                                </div>
                                <div th:each="comment : ${wall.comments}">
                                    <a th:href="@{'/kayttajat/' + ${comment.commenter.profilename}}"><span th:text="${comment.commenter.realname}">kirjailija</span> </a>
                                    <span>kommentoi</span>
                                    <span th:text="${#temporals.format(comment.time, 'dd.MM.yyyy HH:mm')}">aika</span> </br>
                                    <span th:text="${comment.content}">Viesti</span> 
                                </div>
                            </div>
                        </div>
                    </div>       
                    <div class="col-md-4 border rounded" style="background-color: AliceBlue">
                        <h4 class=" mt-2 mb-0">Kuva-albumi</h4>
                        <form th:if="${IsMyPage} and ${canAddPicture}" th:action="@{/picture/sendpicture/}"  method="POST" enctype="multipart/form-data">    
                            <div class="form-group"> 
                                <input type="file" name="file" id="pictureFile" accept="image/*"/>
                                <input type="text" name="newPictureMessage" class="form-control" placeholder="Kuvaus (max 250 merkkiä)" maxlength="250" required/>
                                <button type="submit" value ="Submit" name="sendPicture" class="btn btn-success btn-sm mr-1 mt-2 bg-primary">Lähetä uusi kuva</button>  
                            </div>
                        </form>
                        <form th:if="${IsMyPage} and not ${canAddPicture}">
                            <button  type="submit" class="btn btn-info btn-sm ml-1">Albumissa on 10 kuvaa. Poista kuva niin voit lisätä uuden.</button>
                        </form>
                        <div th:each="picture : ${Pictures}">
                            <div class="mt-2 border rounded " style="background-color: White">
                                <div th:if="${IsMyPage}" class="input-group mb-1">  
                                    <form th:action="@{'/picture/setprofile/' + ${picture.id}}"  method="POST">                                                 
                                        <button  type="submit" value ="Toprofile" name="toprofile" class="btn btn-success btn-sm ml-1 mt-1">Aseta alla oleva kuva profiili kuvaksi</button>
                                    </form>
                                    <form th:action="@{'/picture/remove/' + ${picture.id}}"  method="POST">                                                 
                                        <button  type="submit" value ="Remove" name="remove" class="btn btn-danger btn-sm ml-1 mt-1">Poista kuva</button>
                                    </form>
                                </div>
                                <figure class="img-fluid">
                                    <img th:src="@{'/picture/' + ${picture.id}}" class="img-fluid"> </image>
                                    <figcaption th:text="${picture.text}">Kuvaus</figcaption> 
                                </figure>
                                <div class="input-group mb-1">  
                                    <form th:if="(${IsMyPage} or ${IsFriend}) and not ${picture.hasLiked}" th:action="@{'/picture/like/' + ${picture.id} + '/' + ${user.profilename}}"  method="POST">                                                 
                                        <button  type="submit" value ="LikePicture" name="likepicture" class="btn btn-success btn-sm ml-1 bg-primary">Tykkää</button>
                                    </form>
                                    <form>
                                        <button  th:text="${picture.likes} + ' tykkää tästä'" type="submit" class="btn btn-info btn-sm ml-1"> 3 tykkää</button>
                                    </form>
                                </div>
                                <div class="form-group mb-1">     
                                    <form th:if="(${IsMyPage} or ${IsFriend})" th:action="@{'/picture/comment/' + ${picture.id} + '/' + ${user.profilename}}"  method="POST">                                                 
                                        <input type="text" name="newPictureComment" class="form-control mb-1" placeholder="Kommentoi (max 250 merkkiä)" maxlength="250"/>
                                    </form>
                                </div>
                                <div th:each="comment : ${picture.comments}">
                                    <a th:href="@{'/kayttajat/' + ${comment.commenter.profilename}}"><span th:text="${comment.commenter.realname}">kirjailija</span> </a>
                                    <span>kommentoi</span>
                                    <span th:text="${#temporals.format(comment.time, 'dd.MM.yyyy HH:mm')}">aika</span> </br>
                                    <span th:text="${comment.content}">Viesti</span> 
                                </div>
                            </div>
                        </div>
                    </div> 
                </div>
            </section>

        </main>  
        
        <section class="container">
            <p th:if="${FindUserError}" th:text="${FindUserError}" class="text-danger"> Virheviesti</p>
        </section>       
        <div th:replace="fragments/layout :: pageFooter">Footer</div>   
        
        <script>
            var uploadField = document.getElementById("pictureFile");

            uploadField.onchange = function() {
                if(this.files[0].size > 1000000){
                    alert("Kuva on liian iso (maksimi koko on 1Mt)");
                    this.value = "";
                };
            };           
        </script>
        
    </body>
</html>
