<!DOCTYPE HTML>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <head th:replace="fragments/layout :: head(title='NasuKirja - Käyttäjät')"> Title </head>
    <body class="font-weight-light">
        <header th:replace="fragments/layout :: header"> <p> menu </p> </header>

        <main>
            <section th:replace="fragments/layout :: pageText(pageText='NasuKirjan käyttäjät')" class="container">
            </section>
            
            <section class="container"> 
                <ul>
                    <li th:each="user:${userlist}">
                        <a th:href="@{'/kayttajat/' + ${user.profilename}}" th:text="${user.realname}">User realname</a>
                    </li>
                </ul>   
            </section>

            <section class="container">                
               <p th:if="${FindUserError}" th:text="${FindUserError}" class="text-danger">Virheviesti</p>
            </section>
        </main>        
        <div th:replace="fragments/layout :: pageFooter">Footer</div>    
    </body>
</html>
